#compiled objectfiles
obj/*.o

#linked program
*.out

#preliminary UML, to be included once done
UML/*.html

#Documentation
doc/
/Debug/

#Data
data/
testdata/*
spectra/*
rootscripts/*.dat
*.dat
*.drift
*.root

#Google test
gtest/
